[submodule "_submodules/TypeScript"]
	path = _submodules/TypeScript
	url = https://github.com/microsoft/TypeScript.git
	branch = tsgo-port
[submodule "angular-packages/angular-src"]
	path = angular-packages/angular-src
	url = git@github.com:angular/angular.git
[submodule "_submodules/angular-cli"]
	path = _submodules/angular-cli
	url = https://github.com/angular/angular-cli
[submodule "_submodules/angular"]
	path = _submodules/angular
	url = https://github.com/angular/angular
